@model IEnumerable<SitemaProjeto.Models.Orientador>

@{
    ViewData["Title"] = "Index";
}
<h2>Lista de Orientadores</h2>
<p>
    <a asp-action="AdicionarOrientador">Adicionar Orientador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <label>Instituição</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instituicao)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IdOrientador">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
